@page "/"
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using OrderService.Library.Enumerations;
@inject IHttpContextAccessor httpContextAccessor
<PageTitle>Shop</PageTitle>

@if(!_initialized)
{
    <MudProgressCircular Class="center-spinner" Color="Color.Info" Indeterminate="true" />
}
else if(_products is not null)
{
    <div class="d-flex gap-2 h-100 w-100 overflow-hidden p-2">
        <div class="p-2 h-100 d-flex flex-column w-100">
            <MudText Typo="Typo.h5" Class="mb-2">Products</MudText>

            <div class="d-flex align-items-center gap-2 p-2">
                <MudTextField 
                    T="string" 
                    @bind-Value="_searchValue" 
                    Placeholder="Search products..." 
                    AdornmentIcon="@Icons.Material.Filled.Search" 
                    AdornmentColor="Color.Primary" 
                    Adornment="Adornment.End" 
                    OnAdornmentClick="FetchProducts" 
                    Variant="Variant.Filled" 
                    FullWidth="true" />
                <MudNumericField 
                    @bind-Value="_fromPricePerQuantity" 
                    Placeholder="From price" 
                    FullWidth="false"
                    OnKeyUp="FetchProducts"
                    Variant="Variant.Filled" 
                    Min="0"  />
                <MudNumericField 
                    @bind-Value="_toPricePerQuantity" 
                    Placeholder="To price"
                    FullWidth="false"
                    OnKeyUp="FetchProducts"
                    Variant="Variant.Filled" 
                    Min="1"  />
                <MudIconButton 
                    Icon="@Icons.Material.Outlined.Refresh"
                    OnClick="FetchProducts" />
            </div>

            <div class="overflow-auto flex-grow-1 h-100 w-100 d-flex flex-column gap-8 p-2 pt-6">
                @foreach(var grouping in _productGrouping)
                {
                    <div class="product-section d-inline-flex flex-column p-2">
                        <MudText Typo="Typo.h5">@grouping.Key</MudText>
                        <div class="d-flex gap-4 p-4 justify-content-center overflow-auto">
                            @foreach (var product in grouping)
                            {
                                var isInBasket = _basketItems?
                                    .Any(x => x.ProductId == product.Id) ?? false;

                                <MudCard 
                                    Elevation="1"
                                    Class="d-flex flex-column" 
                                    Style="min-width: 300px; width: 100%; max-width: 300px; height: 200px;">
                                    <MudCardHeader>
                                        <CardHeaderContent>
                                            <MudText Style="width: 100%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;" Typo="Typo.h6">
                                                <MudHighlighter 
                                                    Text="@product.Name"
                                                    HighlightedText="@_searchValue"/>
                                            </MudText>
                                        </CardHeaderContent>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudText>
                                            <MudHighlighter 
                                                HighlightedText="@_searchValue"
                                                Text=@($"Article#: {product.Number}") />
                                        </MudText>
                                            <MudHighlighter 
                                                HighlightedText="@_searchValue"
                                                Text=@($"Price: ${product.PricePerQuantity}") />
                                    </MudCardContent>
                                    <MudCardActions Class="mt-auto justify-content-end">
                                        <MudIconButton 
                                            OnClick="async() => await AddToBasket(product)"
                                            Disabled="isInBasket"
                                            Icon="@Icons.Material.Filled.Add" />
                                    </MudCardActions>
                                </MudCard>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}