@page "/"
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@inject IHttpContextAccessor httpContextAccessor
<PageTitle>Shop</PageTitle>

@if(_products != null)
{
    <div class="d-flex gap-2 h-100 w-100 overflow-hidden">
        <div class="p-2 h-100 d-flex flex-column w-100">
            <h1>Products</h1>

            <div class="h-100 overflow-auto pr-2 d-flex flex-column gap-2">
                @foreach (var product in _products)
                {
                    <div class="p-2 d-flex flex-column gap-2 border rounded">
                        <label>@product.Number - @product.Name</label>
                        <label>Price: $@product.PricePerQuantity</label>
                        <MudButton OnClick="async() => await AddToBasket(product)">Add to basket</MudButton>
                    </div>
                }
            </div>
        </div>
        <div class="p-2 ml-auto shadow rounded" style="width: 300px;">
            <h3>Basket</h3>

            @if(_basketItems != null && _basketItems.Any())
            {
                <ul class="pr-2 flex-1 overflow-auto">
                    @foreach(var item in _basketItems)
                    {
                        <li class="mt-2">
                            <div class="d-flex flex-column gap-2 rounded border p-2">
                                <label>Product: @item.ProductName</label>
                                <label>Quantity: @item.Quantity</label>
                                <label>Total: @(item.Quantity * item.PricePerQuantity)</label>

                                <div class="d-flex gap-2 align-items-center">
                                    <MudButton OnClick="async() => await IncreaseQuantity(item)">+</MudButton>
                                    <MudButton OnClick="async() => await DecreaseQuantity(item)">-</MudButton>
                                </div>
                            </div>
                        </li>
                    }
                </ul>

                <MudButton OnClick="StartOrder">Order</MudButton>
            }
        </div>
    </div>
}
else
{
    <label>Loading products..</label>
}