@page "/order"
@using OrderService.Library.Enumerations;
@using System.ComponentModel.DataAnnotations;
@using OrderService.Library.Models;
@using PurchaseService.Library

@if(_currentOrder is null) 
{
    <MudProgressCircular Class="center-spinner" Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="d-flex flex-column h-100 w-100 gap-4 p-2 pt-4">
        <MudText Typo="Typo.h5" Class="mb-2 text-center">
            Fullfil your order to continue shopping
        </MudText>

        @{
            var orderStatus = _currentOrder.Status;
        }

        <MudPaper Class="p-4" Elevation="3">
            <MudTimeline>
                <MudTimelineItem>
                    <MudText>Order started</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText 
                        Color="orderStatus == OrderStatus.WaitingForDeliveryAddress ? Color.Primary : Color.Default"
                        Align="Align.End">Fill in delivery address</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText 
                        Color="orderStatus == OrderStatus.WaitingForInvoiceAddress ? Color.Primary : Color.Default"
                        Align="Align.End">Fill in invoice address</MudText>
                </MudTimelineItem>
                <MudTimelineItem>
                    <MudText 
                        Color="orderStatus == OrderStatus.WaitingForPayment ? Color.Primary : Color.Default">
                        Pay for order
                    </MudText>
                </MudTimelineItem>
            </MudTimeline>
        </MudPaper>

        <MudPaper Class="p-4" Elevation="10">
            @if(orderStatus == OrderStatus.WaitingForDeliveryAddress && _setDeliveryAddressCommand is not null)
            {
                <MudText Typo="Typo.h5" Class="mb-2 text-center">
                    Fill in delivery address
                </MudText>

                <MudForm 
                    @ref="form" 
                    @bind-IsValid="@_isFormDataValid" 
                    @bind-Errors="@_formErrors">

                    <MudTextField 
                        T="string"
                        Disabled="true"
                        Label="@nameof(OrderView.BuyersFullName)"
                        Text="@_currentOrder.BuyersFullName" />
                    <MudTextField 
                        T="string"
                        Disabled="true"
                        Label="@nameof(OrderView.BuyersEmailAddress)" 
                        Text="@_currentOrder.BuyersEmailAddress"/>

                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.DeliveryAddressLine)" 
                        @bind-Text="_setDeliveryAddressCommand.AddressLine"
                        Required="true" 
                        RequiredError="@($"{nameof(OrderView.DeliveryAddressLine)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.DeliveryAddressCountry)"
                        @bind-Text="_setDeliveryAddressCommand.Country"
                        Required="true"
                        RequiredError="@($"{nameof(OrderView.DeliveryAddressCountry)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.DeliveryAddressPostalCode)"
                        @bind-Text="_setDeliveryAddressCommand.PostalCode"
                        Required="true"
                        RequiredError="@($"{nameof(OrderView.DeliveryAddressPostalCode)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.DeliveryAddressPostalOffice)"
                        @bind-Text="_setDeliveryAddressCommand.PostalOffice"
                        Required="true"
                        RequiredError="@($"{nameof(OrderView.DeliveryAddressPostalOffice)} is required")" />
                </MudForm>
                    
                <MudButton 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    FullWidth="true"
                    Class="mt-3"
                    DisableElevation="true" 
                    OnClick="@TryExecuteSetDeliveryAddress">
                    Proceed
                </MudButton>
            } 
            else if(_currentOrder.Status == OrderStatus.WaitingForInvoiceAddress && _setInvoiceAddressCommand is not null) 
            {
                <MudText Typo="Typo.h5" Class="mb-2 text-center">
                    Fill in invoice address
                </MudText>

                <MudForm 
                    @ref="form" 
                    @bind-IsValid="@_isFormDataValid" 
                    @bind-Errors="@_formErrors">

                    <MudTextField 
                        T="string"
                        Disabled="true"
                        Label="@nameof(OrderView.BuyersFullName)"
                        Text="@_currentOrder.BuyersFullName" />
                    <MudTextField 
                        T="string"
                        Disabled="true"
                        Label="@nameof(OrderView.BuyersEmailAddress)" 
                        Text="@_currentOrder.BuyersEmailAddress"/>

                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.InvoiceAddressLine)" 
                        @bind-Text="_setInvoiceAddressCommand.AddressLine"
                        Required="true"
                        RequiredError="@($"{nameof(_setInvoiceAddressCommand.AddressLine)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.InvoiceAddressCountry)"
                        @bind-Text="_setInvoiceAddressCommand.Country"
                        Required="true"
                        RequiredError="@($"{nameof(_setInvoiceAddressCommand.Country)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.InvoiceAddressPostalCode)"
                        @bind-Text="_setInvoiceAddressCommand.PostalCode"
                        Required="true"
                        RequiredError="@($"{nameof(_setInvoiceAddressCommand.PostalCode)} is required")" />
                    <MudTextField 
                        T="string"
                        Label="@nameof(OrderView.InvoiceAddressPostalOffice)"
                        @bind-Text="_setInvoiceAddressCommand.PostalOffice"
                        Required="true"
                        RequiredError="@($"{nameof(_setInvoiceAddressCommand.PostalOffice)} is required")" />
                </MudForm>
                    
                <MudButton 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    FullWidth="true"
                    Class="mt-3"
                    DisableElevation="true" 
                    OnClick="@TryExecuteSetInvoiceAddress">
                    Proceed
                </MudButton>
            }
            else if(_currentOrder.Status == OrderStatus.WaitingForPayment && _paymentCommand is not null)
            {
                <div class="d-flex flex-column gap-2">
                    <MudText Typo="Typo.h5" Class="mb-2 text-center">
                        Pay with @_paymentCommand.Method
                    </MudText>

                    <MudSelect 
                        T="PaymentCommandDto.PaymentMethod" 
                        Label="Method"
                        @bind-Value="_paymentCommand.Method"
                        AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="PaymentCommandDto.PaymentMethod.Card" />
                        <MudSelectItem Value="PaymentCommandDto.PaymentMethod.Vipps" />
                    </MudSelect>

                    @if(_paymentCommand.Method == PaymentCommandDto.PaymentMethod.Card 
                        && _paymentCommand.Card is not null) 
                    {
                        <MudTextField 
                            T="string"
                            Label="@nameof(PaymentCommandDto.Card.CardHolderFullName)" 
                            Text="@_paymentCommand.Card.CardHolderFullName"/>
                        <MudTextField 
                            T="string"
                            Label="@nameof(PaymentCommandDto.Card.CardNumber)" 
                            Text="@_paymentCommand.Card.CardNumber"/>
                        <MudTextField 
                            T="string"
                            Label="@nameof(PaymentCommandDto.Card.CVC)" 
                            Text="@_paymentCommand.Card.CVC"/>
                    }
                    else if(_paymentCommand.Method == PaymentCommandDto.PaymentMethod.Vipps 
                        && _paymentCommand.Vipps is not null)
                    {
                        <MudTextField 
                            T="string"
                            Label="@nameof(PaymentCommandDto.Vipps.PhoneNumber)" 
                            Text="@_paymentCommand.Vipps.PhoneNumber"/>
                    }

                    <MudButton 
                        Variant="Variant.Filled" 
                        Color="Color.Primary" 
                        FullWidth="true"
                        Class="mt-3"
                        DisableElevation="true" 
                        OnClick="@TryExecutePayment">
                        Execute payment
                    </MudButton>
                </div>
            }
            else if(_currentOrder.Status == OrderStatus.WaitingForConfirmation) 
            {
                <MudText Typo="Typo.h5" Class="mb-2 text-center">
                    Waiting for confirmation.
                </MudText>
                <div class="d-flex gap-2 align-items-center">
                    <MudButton 
                        Href="/orders" 
                        Color="Color.Secondary" 
                        ButtonType="ButtonType.Button">
                        You can check your orders here
                    </MudButton>
                    <MudButton 
                        Href="/" 
                        Color="Color.Primary" 
                        ButtonType="ButtonType.Button">
                        or Continue shopping here
                    </MudButton>
                </div>
            }
        </MudPaper>
    </div>
}