@page "/orders"
@using OrderService.Library.Models

@if (!_initialized)
{
    <MudProgressCircular Class="center-spinner" Color="Color.Info" Indeterminate="true" />
}
else 
{
    <div class="d-flex flex-column gap-2 p-2 pt-4">
        <div>
            <MudText Typo="Typo.h5" Class="mb-2">Active orders</MudText>

            <div class="d-flex flex-column gap-2 pl-2">
                @if(_activeOrders?.Any() == true)
                {
                    foreach(var order in _activeOrders)
                    {
                        <MudCard 
                            @onclick="() => ShowOrderDetails(order)" 
                            Class="cursor-pointer">
                            <MudCardHeader>
                                <MudText Typo="Typo.h5">#@order.Number</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <p>Status @order.Status</p>
                                <p>
                                    <span>@nameof(OrderView.DeliveryAddressLine): </span> @order.DeliveryAddressLine
                                    <span>@nameof(OrderView.DeliveryAddressCountry): </span> @order.DeliveryAddressCountry
                                    <span>@nameof(OrderView.DeliveryAddressPostalCode): </span> @order.DeliveryAddressPostalCode
                                    <span>@nameof(OrderView.DeliveryAddressPostalOffice): </span> @order.DeliveryAddressPostalOffice
                                </p>
                            </MudCardContent>
                        </MudCard>
                    }
                }
                else
                {
                    <p>No active orders.</p>
                }
            </div>
        </div>

        <hr />

        <div>
            <MudText Typo="Typo.h5" Class="mb-2">Historic orders</MudText>

            <div class="d-flex flex-column gap-2 pl-2">
                @if(_historicOrders?.Any() == true)
                {
                    foreach (var order in _historicOrders)
                    {
                        <MudCard 
                            @onclick="() => ShowOrderDetails(order)" 
                            Class="cursor-pointer">
                            <MudCardHeader>
                                <MudText Typo="Typo.h5">#@order.Number</MudText>
                            </MudCardHeader>
                            <MudCardContent>
                                <p>
                                    <span>@nameof(OrderView.DeliveryAddressLine) : @order.DeliveryAddressLine</span>
                                    <span>@nameof(OrderView.DeliveryAddressCountry) : @order.DeliveryAddressCountry</span>
                                    <span>@nameof(OrderView.DeliveryAddressPostalCode) : @order.DeliveryAddressPostalCode</span>
                                    <span>@nameof(OrderView.DeliveryAddressPostalOffice) : @order.DeliveryAddressPostalOffice</span>
                                    <span>@nameof(OrderView.InvoiceAddressLine) : @order.InvoiceAddressLine</span>
                                    <span>@nameof(OrderView.InvoiceAddressCountry) : @order.InvoiceAddressCountry</span>
                                    <span>@nameof(OrderView.InvoiceAddressPostalCode) : @order.InvoiceAddressPostalCode</span>
                                    <span>@nameof(OrderView.InvoiceAddressPostalOffice) : @order.InvoiceAddressPostalOffice</span>
                                </p>
                            </MudCardContent>
                        </MudCard>
                    }
                }
                else
                {
                    <p>No historic orders</p>
                }
            </div>
        </div>
    </div>
}

<MudDialog
    Options="new(){ CloseButton = true, NoHeader = false }"
    Style="min-width: 800px;"
    @bind-IsVisible="_showOrderDetails">
    <TitleContent>
        @if(_orderToShowDetails is not null) 
        {
            <h5 class="mb-0">Order - @_orderToShowDetails.Number</h5>
        }
    </TitleContent>
    <DialogContent>
        @if(_orderToShowDetails is not null)
        {
            <div class="h-100 w-100 d-flex flex-column gap-2">
                <div>
                    <div class="d-flex flex-wrap gap-2">
                        <MudTextField 
                            T="string" 
                            Disabled="true"
                            Text="@_orderToShowDetails.Status.ToString()" 
                            Label="@nameof(OrderView.Status)" />
                        <MudTextField 
                            T="string" 
                            Disabled="true"
                            Text="@_orderToShowDetails.BuyersEmailAddress" 
                            Label="@nameof(OrderView.BuyersEmailAddress)" />
                    </div>
                    <div class="d-flex flex-wrap gap-2">
                        <div class="d-flex flex-column gap-2 flex-grow-1">
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@_orderToShowDetails.DeliveryAddressLine" 
                                Label="@nameof(OrderView.DeliveryAddressLine)" />
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@(_orderToShowDetails.DeliveryAddressPostalCode + _orderToShowDetails.DeliveryAddressPostalOffice)"
                                Label="@nameof(OrderView.DeliveryAddressPostalOffice)" />
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@_orderToShowDetails.DeliveryAddressCountry" 
                                Label="@nameof(OrderView.DeliveryAddressCountry)" />
                        </div>
                        <div class="d-flex flex-column gap-2  flex-grow-1">
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@_orderToShowDetails.InvoiceAddressLine"
                                          Label="@nameof(OrderView.InvoiceAddressLine)" />
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@(_orderToShowDetails.InvoiceAddressPostalCode + _orderToShowDetails.InvoiceAddressPostalOffice)"
                                Label="@nameof(OrderView.InvoiceAddressPostalOffice)" />
                            <MudTextField 
                                T="string" 
                                Disabled="true"
                                Text="@_orderToShowDetails.InvoiceAddressCountry" 
                                Label="@nameof(OrderView.InvoiceAddressCountry)" />
                        </div>
                    </div>
                </div>
                <div>
                    <MudDataGrid 
                        Items="_orderToShowDetails.Lines" 
                        Filterable="true"
                        Hover="true"
                        Outlined="true"
                        RowsPerPage="20"
                        Height="300px"
                        HorizontalScrollbar="true"
                        Groupable="true">
                        <Columns>
                            <PropertyColumn 
                                Property="x => x.Number"
                                Title="@nameof(OrderView.OrderLine.Number)" />
                            <PropertyColumn 
                                Property="x => x.ProductDescription" 
                                Title="@nameof(OrderView.OrderLine.ProductDescription)" />
                            <PropertyColumn 
                                Property="x => x.ProductCategory" 
                                Title="@nameof(OrderView.OrderLine.ProductCategory)" 
                                Groupable="true"/>
                            <PropertyColumn 
                                Property="x => x.Quantity" 
                                Title="@nameof(OrderView.OrderLine.Quantity)" />
                            <PropertyColumn 
                                Property="x => x.PricePerQuantity" 
                                Title="@nameof(OrderView.OrderLine.PricePerQuantity)" />
                        </Columns>
                    </MudDataGrid>
                </div>
            </div>            
        }
    </DialogContent>
</MudDialog>
