@page "/order-management"
@using OrderService.Library.Enumerations;
@using OrderService.Library.Models;

<MudText Typo="Typo.h5" Class="mb-2 mt-2">Order - management</MudText>

@if(_orders is null)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="d-flex flex-column flex-grow-1 gap-2 h-100 w-100 overflow-hidden">
        <MudPaper Elevation="25">
            <MudToolBar>
                <MudIconButton 
                    Title="Add" 
                    Icon="@Icons.Material.Outlined.Add"/>
            </MudToolBar>
        </MudPaper>

        <MudDataGrid 
            Items="_orders" 
            Filterable="true"
            Hover="true"
            Height="100%"
            Outlined="true"
            RowsPerPage="20"
            HorizontalScrollbar="true"
            Groupable="true">
            <Columns>
                <PropertyColumn 
                    Property="x => x.Number"
                    Title="@nameof(OrderView.Number)" />
                <PropertyColumn 
                    Property="x => x.Status"
                    Title="@nameof(OrderView.Status)" />
                <PropertyColumn 
                    Property="x => x.BuyersFullName"
                    Title="@nameof(OrderView.BuyersFullName)" />
                <PropertyColumn 
                    Property="x => x.BuyersEmailAddress"
                    Title="@nameof(OrderView.BuyersEmailAddress)" />
                <PropertyColumn 
                    Property="x => x.DeliveryAddressLine" 
                    Title="@nameof(OrderView.DeliveryAddressLine)" />
                <PropertyColumn 
                    Property="x => x.DeliveryAddressPostalCode" 
                    Title="@nameof(OrderView.DeliveryAddressPostalCode)" />
                <PropertyColumn 
                    Property="x => x.DeliveryAddressPostalOffice" 
                    Title="@nameof(OrderView.DeliveryAddressPostalOffice)" />
                <PropertyColumn 
                    Property="x => x.DeliveryAddressCountry"
                    Title="@nameof(OrderView.DeliveryAddressCountry)" />
                <PropertyColumn 
                    Property="x => x.InvoiceAddressLine" 
                    Title="@nameof(OrderView.InvoiceAddressLine)" />
                <PropertyColumn 
                    Property="x => x.InvoiceAddressPostalCode" 
                    Title="@nameof(OrderView.InvoiceAddressPostalCode)" />
                <PropertyColumn 
                    Property="x => x.InvoiceAddressPostalOffice" 
                    Title="@nameof(OrderView.InvoiceAddressPostalOffice)" />
                <PropertyColumn 
                    Property="x => x.InvoiceAddressCountry"
                    Title="@nameof(OrderView.InvoiceAddressCountry)" />

                <PropertyColumn 
                    Title="Actions"
                    Property="x => x">
                    <CellTemplate>
                        <MudMenu Label="Actions">
                            <MudMenuItem OnClick="() => ShowSetDeliveryAddressDialog(context.Item)">
                               Set delivery address
                            </MudMenuItem>
                            <MudMenuItem OnClick="() => ShowSetInvoiceAddressDialog(context.Item)">
                               Set invoice address
                            </MudMenuItem>
                            <MudMenuItem 
                                Disabled="context.Item.Status > OrderStatus.WaitingForConfirmation"
                                OnClick="async() => await SetToWaitingForConfirmation(context.Item)">
                                Set to waiting for confirmation
                            </MudMenuItem>
                            <MudMenuItem 
                                Disabled="context.Item.Status > OrderStatus.WaitingForConfirmation"
                                OnClick="async() => await ConfirmOrder(context.Item)">
                                Set to confirmed
                            </MudMenuItem>
                        </MudMenu>
                    </CellTemplate>
                </PropertyColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager 
                    T="OrderView" 
                    PageSizeOptions=@(new int[] {10, 25, 50, 100, 150, 200 }) />
            </PagerContent>
        </MudDataGrid>
    </div>
}

<MudDialog
    Options="new(){ CloseButton = true, NoHeader = false }"
    @bind-IsVisible="_showSetDeliveryAddressDialog">
    <TitleContent>
        @if (_setDeliveryAddressForOrder is not null)
        {
            <h5 class="mb-0">Order - @_setDeliveryAddressForOrder.Number</h5>
        }
    </TitleContent>
    <DialogContent>
        @if (_setDeliveryAddressCommand is not null && _setDeliveryAddressForOrder is not null)
        {
            <MudNumericField 
                T="int" 
                Disabled="true"
                @bind-Value="_setDeliveryAddressForOrder.Number" 
                Label="Number" />
            <MudTextField 
                T="string" 
                Disabled="true"
                @bind-Text="_setDeliveryAddressCommand.AddressLine"
                Label="AddressLine" />
            <MudTextField 
                T="string"
                @bind-Text="_setDeliveryAddressCommand.PostalCode"
                Label="PostalCode" />
            <MudTextField 
                T="string"
                @bind-Text="_setDeliveryAddressCommand.PostalOffice"
                Label="PostalOffice" />
            <MudTextField 
                T="string"
                @bind-Text="_setDeliveryAddressCommand.Country"
                Label="Country" />
        } 
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="ExecuteSetDeliveryAddress">Update</MudButton>
    </DialogActions>
</MudDialog>

s<MudDialog
    Options="new(){ CloseButton = true, NoHeader = false }"
    @bind-IsVisible="_showSetInvoiceAddressDialog">
    <TitleContent>
        @if (_setInvoiceAddressForOrder is not null)
        {
            <h5 class="mb-0">Order - @_setInvoiceAddressForOrder.Number</h5>
        }
    </TitleContent>
    <DialogContent>
        @if (_setInvoiceAddressCommand is not null && _setInvoiceAddressForOrder is not null)
        {
            <MudNumericField 
                T="int" 
                Disabled="true"
                @bind-Value="_setInvoiceAddressForOrder.Number" 
                Label="Number" />
            <MudTextField 
                T="string" 
                Disabled="true"
                @bind-Text="_setInvoiceAddressCommand.AddressLine"
                Label="AddressLine" />
            <MudTextField 
                T="string"
                @bind-Text="_setInvoiceAddressCommand.PostalCode"
                Label="PostalCode" />
            <MudTextField 
                T="string"
                @bind-Text="_setInvoiceAddressCommand.PostalOffice"
                Label="PostalOffice" />
            <MudTextField 
                T="string"
                @bind-Text="_setInvoiceAddressCommand.Country"
                Label="Country" />
        } 
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="ExecuteSetInvoiceAddress">Update</MudButton>
    </DialogActions>
</MudDialog>